{{{ header }}}

{{#posts}}
<section>
  <article id="post-{{id}}">
  <header>
    <h1><a href="{{ permalink }}">{{ title }}</a></h1>
    <p>Posted on {{ date }} by {{ author }}</p>
  </header>
  <section class="main">
  {{{ content }}}
  </section>
  <footer>
  {{{ tags }}}
  </footer>
</section>
{{/posts}}

{{{ sidebar }}}

{{{ footer }}}