body {
  margin: 0;
  font: 15px sans-serif;
  line-height: 1.5em;
}

div.wrapper {
  width: 54em;
  margin: 0 auto;
}

div.site-info {
  width: 100%;
  padding: 1em 2em 1px; margin-left: -2em;
  background-color: #f2f2f2; 
}

.site-info h2 {
  font-size: 1.4em;
  font-weight: normal;
  color: #8C8E9B;
  margin: 0 0 1em;
}

section.posts { 
  width: 36em; 
  float: left; 
  text-align: justify;
}

aside {
  width: 15em;
  float: right;
  margin-top: 1em;
}

a { color: #44A; text-decoration: none; }

nav.top-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav.top-nav li { display: inline; }

nav.top-nav a {
  padding: 4px 8px;
  margin-right: 0.5em;
  background-color: #FFF;
  border: 1px solid #eaeaea;
  border-bottom: none;
}

nav.top-nav a:hover { border-color: #DDE; background-color: #fafafa; }